body {
	font-family: "Lato", sans-serif;
	margin: 0;
	margin-top: 6rem;


	background: rgb(215,232,183);
	background: linear-gradient(315deg, rgba(233,198,184,1) 37%, rgba(232,210,160,1) 78%);  


	min-height: 100vh;
}
.goToTop{
  position: fixed;
  right: 0;
  bottom: 0;
}
.sidebar {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
}
.sidebar a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
}
.sidebar a:hover {
	color: #f1f1f1;
	cursor: pointer;
}
.sidebar .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}
.openbtn {
	font-size: 20px;
	cursor: pointer;
	background-color: #111;
	color: white;
	padding: 10px 15px;
	border: none;
}
.openbtn:hover {
	background-color: #444;
}
#top {
	background: rgb(237,155,109);
	background: linear-gradient(90deg, rgba(237,155,109,1) 0%, rgba(224,196,132,1) 48%, rgba(253,173,123,1) 100%);

	display: flex;
	transition: margin-left .5s;
	padding: 16px;
	position: fixed;
	top: 0;
	width: 99vw;
	overflow: hidden;
	background-color: white;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
	flex-flow: row nowrap;
	justify-content: space-between;
}

#sortBy{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	text-align: center;
	margin-right: 2rem;
	font-size: 20px;
	cursor: pointer;
	background-color: #111;
	color: white;
	padding: 10px 15px;
	border: none;
}
.searchForm{
	color: white;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-content: center;
	padding: .5rem;

}
.searchForm button{
	display: flex;
	justify-content: center;
	align-self: center;
	width: 10rem;
	background: rgb(207,116,132);
	background: radial-gradient(circle, rgba(207,116,132,1) 0%, rgba(217,121,187,1) 25%, rgba(186,119,195,1) 56%, rgba(181,121,217,1) 86%, rgba(148,116,207,1) 100%);
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}
  .searchForm select{
	width: 10rem;
	align-self: center;
}
  .searchForm div {
	width: 10rem;
	display: flex;
	align-content: center;
	align-self: center;
	flex-flow: column;
	margin-top: .6rem;
	margin-bottom: .6rem;
}
.searchForm h1{
	text-align: center;
	font-size: 3rem;
}
.searchForm div input{
	border: 0;
	border-bottom: white solid .15rem;
	border-bottom-left-radius: .1rem;
	border-bottom-right-radius: .1rem;
	background-color: #111111;
	color: white;
	-webkit-appearance: none;
	-moz-appearance: textfield;
}
.searchForm div select{
	margin-top: .4rem;
}
.select {
	text-align: center;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	height: 2rem;
	font-size: 1.1rem;
	/* padding: 10px 38px 10px 16px; */
	background: #ffffff;
	color: #000000;
	background-size: 10px;
	transition: border-color .1s ease-in-out,box-shadow .1s ease-in-out;
	border: 1px solid #ddd;
	border-radius: 3px;
}

.select:hover {
	border: 1px solid #999;
}
.select:focus {
	border: 1px solid #999;
	box-shadow: 0 3px 5px 0 rgba(0,0,0,.2);
	outline: none;
}
.imgs{
	margin: .5rem;
}
.containerForAllImgs{
	padding: 1rem;
	margin:1rem;
	display: flex;
	flex-flow: row wrap;
	justify-content:space-around;

}
.divForImg{

	background: rgb(255,255,255);
	background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(0,0,0,0.18809530648196782) 100%); 

	align-items: flex-start;
	display: flex;
	align-items: center;
	text-align: center;

	flex-flow: column nowrap;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
	margin: 1rem;
	padding: .7rem;
}


